.container-slider {
  height: 18rem;
  width: 16rem;
  overflow: hidden;
  margin: 3.6rem auto;
}

.slide {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.slide img {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: inline-block;
  height: 18rem;
  width: 16rem;
  border-radius: 0.8rem;
}
